/* Write your CSS here */
.notFound-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-size: cover;
  min-height: 100vh;
}
@media screen and (min-width: 768px) {
  .notFound-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
    background-size: cover;
  }
}
.notFound-text {
  font-size: 50px;
  font-weight: bold;
  font-family: 'Bree Serif';
  color: white;
}
